.feature {
  padding: 20px;
  &__title {
    .text-title;
  }
  &__number {
    .text-paragraph-label;
  }
  &__text {
    .text-paragraph-label;
  }
}

.feature--main {
  color: @text--light;
  background-color: @bg-color;
}

.feature--additional {
  background-color: @bg-color--additional;
}

