@bg-color: #81b3d2;
@bg-color--hover: #669ec0;
@bg-color--active: #5496bd;
@bg-color__disabled: #e5e5e5;
@bg-color--additional: #eeeeee;

@text--active: #94b9d2;
@text--title: #000000;
@text--light: #ffffff;
