/*Особенности*/
/*Общие настройки*/

.feature {
  position: relative;
}

.feature__title {
  margin: 14px 0;
  .text-title;
}

.feature__number {
  .text-paragraph;
}

.feature__text {
  .text-paragraph;
}

/*Главные особенности*/

.feature--main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: @white;
  background-color: @main-blue;
}

.feature--main .feature__item {
  padding: 20px;
}

.feature--main:first-of-type {
  padding-top: 45px;
}

.feature--main:first-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 37px;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.feature__photo {
  min-width: 320px;
  height: 260px;
}

/*Список особенностей*/

.feature-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0;
  list-style: none;
}

.feature-list__item {
  position: relative;
  padding-left: 50px;
  text-align: left;
}

.feature-list__item--home::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 1px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.feature-list__item--souvenir::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.feature-list__item--food::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 1px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

/*Вторичные особенности*/

.feature--additional {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: #eeeeee;
}

.feature--additional .feature__item {
  padding: 12px 15px;
}

.feature--additional .feaure__title {
  color: @black;
}

.feature--additional .feature__item:not(:last-of-type) {
  border-bottom: 1px solid #d6d6d6;
}

@media (min-width: @tablet-width) {
  .feature__title {
    padding: 0 5px;
    font-size: 21px;
    line-height: 26px;
  }

  .feature--main .feature__item,
  .feature--additional .feature__item {
    width: 166px;
    padding: 0px 45px;
    margin: 0;
  }

  .feature--main:first-of-type::before {
    display: none;
  }

  .feature--main:first-of-type {
    padding-top: 0;
  }

  .feature--main {
    flex-direction: row;
    align-items: center;
  }

  .feature__photo {
    width: 512px;
    height: 256px;
  }

  .feature__photo--bridge {
    order: -1;
  }

  .feature-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0;
  }

  .feature-list__item {
    width: 166px;
    padding-top: 130px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 25px;
    text-align: center;
  }

  .feature-list__item .feature__title {
    margin-bottom: 20px;
  }

  .feature-list__item--souvenir {
    order: 1;
  }

  .feature-list__item--home::before,
  .feature-list__item--souvenir::before,
  .feature-list__item--food::before {
    top: 36px;
    left: 89px;
    width: 77px;
    height: 77px;
    background-size: 77px 77px;
  }

  .feature--additional {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 256px;
    padding: 0;
  }

  .feature--additional .feature__item:not(:last-of-type) {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .feature__title {
    padding: 0 60px;
  }

  .feature--main .feature__item,
  .feature--additional .feature__item {
    width: 280px;
    padding: 0px 60px;
  }

  .feature-list__item {
    width: 290px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 40px;
  }

  .feature-list__item--home::before,
  .feature-list__item--souvenir::before,
  .feature-list__item--food::before {
    top: 36px;
    left: 161px;
    width: 77px;
    height: 77px;
    background-size: 77px 77px;
  }

}
