.find-hotel__description {
  padding: 20px;
}

.find-hotel__title {
  .text-big-title;
}

.find-hotel__text {
  .text-paragraph;
}

.find-hotel__button {
  width: 280px;
  height: 58px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  .buttn-style;
}
