.fullname {
  padding-bottom: 5px;
}

.fullname__item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.fullname__title {
  margin-top: 18px;
  margin-bottom: 21px;
  .text-title;
}

.fullname__label {
  padding-right: 14px;
  .text-label;
}

.fullname__input {
  height: 20px;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 14px;
  color: @black;
  background-color: @light-grey;
  border: 4px solid @light-grey;
  outline: none;
  .text-title;
  .placeholder;

  &:hover {
    background-color: @grey;
    border-color: @grey;
  }

  &:active {
    background-color: @white;
  }
}

.fullname__input--name {
  width: 206px;
}

.fullname__input--surname {
  width: 169px;
}

.fullname__input--patronymic {
  margin-left: 4px;
  width: 169px;
}
