.heading {
  padding-right: 20px;
  padding-left: 20px;
}

.heading__title {
  margin-top: 40px;
  margin-bottom: 27px;
  color: @black;
  .text-title;
}

.heading__text {
  margin-top: 0;
  margin-bottom: 5px;
  .text-label;
}
