/*Интро*/
/*Фоновое изображение*/

.intro__slogan {
  width: auto;
  height: auto;
  padding-top: 50px;
  padding-bottom: 65px;
  background-color: @main-blue;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: cover, cover;
}

.intro__slogan--welcome {
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  min-width: 280px;
  min-height: 214px;
  background-image: url("../img/text-sedona-index.svg");
  .bg-intro;
}

.intro__slogan--sedona {
  margin-right: auto;
  margin-left: auto;
  width: 230px;
  height: 40px;
  background-image: url("../img/text-sedona.svg");
  .bg-intro;
}

/*Заголовок*/

.intro__description {
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 4px;
}

.intro__description-title {
  margin-bottom: 30px;
  color: @black;
  .text-title;
}

.intro__description-title--thin {
  margin-top: 5px;
  margin-bottom: 25px;
}


.intro__description-text {
  margin: 0;
  .text-label;
}

@media (min-width: @tablet-width) {
  .intro {
    padding-bottom: 20px;
  }

  .intro__slogan--welcome {
    min-width: 460px;
    min-height: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .intro__slogan--sedona {
    min-width: 460px;
    min-height: 80px;
    margin-top: 45px;
    margin-bottom: 55px;
  }

  .intro__description {
    padding: 30px 120px;
    margin-bottom: 0;
  }

  .intro__description--column {
    padding: 30px 165px;
  }

  .intro__description-title {
    margin-top: 15px;
    margin-bottom: 35px;
  }

  .intro__description-title--big {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 30px;
  }
}

@media (min-width: @desktop-width) {
  .intro__description {
    padding: 30px 380px;
  }

  .intro__description-title--big {
    margin-top: 87px;
  }
}
