.page-footer {
  margin: 25px;
}

.page-footer__hashtag-text {
  .text-big-title;
}

.page-footer__copyright,
.page-footer__logotype {
  display: inline-block;
  vertical-align: middle;
  .text-paragraph-label;
}

.page-footer__logotype--icon {
  width: 27px;
  height: 34px;
  fill: @text--title;
}

.page-footer__logotype--icon:hover {
  fill: @color-logo--hover;
}

.page-footer__logotype--icon:active {
  fill: @color-like-icon;
}
