.photo-description {
  position: relative;
  text-align: left;
}

.photo-description__title {
  margin-bottom: 0;
  font-weight: bold;
  .text-paragraph;
}

.photo-description__author {
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: none;
  .text-paragraph;
}

.photo-description__like {
  font-weight: bold;
  .text-paragraph;
}

.photo-description__like--icon {
  height: 24px;
  fill: @color-like-icon;
  vertical-align: text-bottom;
  padding-right: 10px;
}
