/*Видеопрезентация*/

.presentation {
  padding: 20px 0;
}

/*Описание презентации*/

.presentation__description {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.presentation__title {
  .text-title;
  margin-bottom: 25px;
}

.presentation__text {
  .text-description;
}

/*Видео*/

.presentation__video {
  height: auto;
  margin: 0 auto;
}

.presentation__video--window {
  width: 320px;
  height: 200px;
}

/*Контроллеры*/

.presentation__controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 120px;
  height: 111px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 80px;
  background-color: @light-grey;
}

.presentation__controls-button {
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media (min-width: @tablet-width) {
  .presentation__video {
    margin-left: 60px;
    margin-right: 60px;
  }

  .presentation__video--window {
    width: 648px;
    height: 500px;
    background-color: @black;
  }

  .presentation__controls {
    align-items: center;
    width: 648px;
    height: 90px;
    padding: 0;
    background-color: @transparent-black;
  }

  .presentation__controls-button--replay,
  .presentation__controls-button--subtitles,
  .presentation__controls-button--fullscreen {
    fill: @white;
  }
}

@media (min-width: @desktop-width) {
  .presentation__video {
    margin: 0 200px;
  }

  .presentation__video--window {
    width: 800px;
    height: 500px;
  }

  .presentation__controls {
    width: 800px;
  }
}
