.presentation__description {
  padding: 20px;
}

.presentation__title {
  .text-title;
  margin-bottom: 25px;
}

.presentation__text {
  .text-paragraph;
}

.presentation__video {
  padding-bottom: 40px;
}

.presentation__controls {
  display: block;
  width: 280px;
  height: 20px;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  padding: 23px;
  background-color: @bg-color__form;
}

.presentation__controls-button {
  display: inline-block;
  height: 20px;
  margin: 0 30px;
  padding: 0;
  background-color: @bg-color__form;
  border: none;
}
