/*Особенности*/

.review-form {
  margin-top: 15px;
}

.review-form__section {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border-top: @border;
}

.review-form__submit {
  margin-top: 25px;
  padding-bottom: 16px;
}

.review-form__submit-button {
  width: 280px;
  height: 58px;
  padding: 0;
  margin: 0 auto;
  .button-style;
}

.review-form__required {
  font-size: 0;
}

@media (min-width: @tablet-width) {
  .review-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
    margin-top: 0;
  }

  .review-form__section {
    padding: 0;
    border-top: none;
  }

  .review-form__section:nth-of-type(3) {
    order: -1;
  }

  .review-form__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 648px;
    padding-bottom: 60px;
  }

  .review-form__submit-button {
    width: 324px;
    margin: 0;
  }

  .review-form__required {
    font-size: 14px;
  }
}

@media (min-width: @desktop-width) {
  .review-form {
    margin-top: -15px;
    padding: 0 120px;
  }

  .review-form__section {
    width: 960px;
  }

  /*.review-form__section--fullname {
    width: 400px;
    padding-left: 80px;
  }

  .review-form__section--contact-info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .review-form__section--contact-info .review-form__title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 74px;
    padding: 0 280px;
  }

  .review-form__section--insperation {
    width: 480px;
  }

  .review-form__section--insperation .review-form__title {
    text-align: center;
  }

  .review-form__section--sight .review-form__title {
    margin-right: auto;
    margin-left: auto;
    padding: 0 280px;
  }

  .review-form__section--sight .review-form__column-wrapper {
    justify-content: space-between;
  }

  .review-form__column {
    display: flex;
    justify-content: space-between;
    width: 480px;
    padding-left: 0;
  }*/

  .review-form__submit {
    width: 960px;
    margin-top: 30px;
    padding-bottom: 70px;
  }
/*
  .review-form__item--contact-info {
    flex-direction: row;
  }

  .review-form__item--contact-info .review-form__label {
    padding-left: 0;
  }

  .review-form__label span {
    display: none;
  }

  .review-form__text {
    width: 912px;
  }
*/
  .review-form__submit-button {
    width: 480px;
  }
}
